<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head %>
</head>

<body>
    <header>
        <% include ./partials/header %>
    </header>
<main class="container">
        <div class="container" style="padding-bottom: 20px">
                <div class="card">
                    <div class="card-header bg-dark text-center">
                        <% if (ByCompany) { %>
                            <a class="btn btn-primary btn-outline-light" href="/jobFeed" role = "button" style="margin-right: 5%">
                                All Positions
                            </a>
                        
                            <a class="btn btn-primary btn-danger" href="/jobFeedByCompany" role = "button" style="margin-left: 5%; margin-right: 5%">
                                By Company
                            </a>

                            <a class="btn btn-primary btn-outline-light" href="/jobFeedByMajor" role = "button" style = "margin-left: 5%">
                                By Major
                            </a>
                        <% } else if(ByMajor) { %>
                            <a class="btn btn-primary btn-outline-light" href="/jobFeed" role = "button" style="margin-right: 5%">
                                All Positions
                            </a>
                        
                            <a class="btn btn-primary btn-outline-light" href="/jobFeedByCompany" role = "button" style="margin-left: 5%; margin-right: 5%">
                                By Company
                            </a>

                            <a class="btn btn-primary btn-danger" href="/jobFeedByMajor" role = "button" style = "margin-left: 5%">
                                By Major
                            </a>
                        <% } else { %>
                            <a class="btn btn-primary btn-danger" href="/jobFeed" role = "button" style="margin-right: 5%">
                                All Positions
                            </a>
                        
                            <a class="btn btn-primary btn-outline-light" href="/jobFeedByCompany" role = "button" style="margin-left: 5%; margin-right: 5%">
                                By Company
                            </a>

                            <a class="btn btn-primary btn-outline-light" href="/jobFeedByMajor" role = "button" style = "margin-left: 5%">
                                By Major
                            </a>
                        <% } %>
                    </div>
                </div>
               

<% if(userStuff.length > 0) { %>
    <div>
        <div id="accordion">
            <% userStuff.forEach(function(user) { %>
                <div class="card">
                    <div class = "card-header" id=<%= user.jid %>>
                        <h5 class="mb-0">
                            <div class="container">
                                <div class="row">
                                    <div class="col-9">
                                        <button class="btn btn-primary btn-block btn-light" data-toggle="collapse" data-target=<%= "#collapse" + user.jid %> aria-expanded="true" aria-controls=<%= "collapse" + user.jid %>>
                                            <div class="row">
                                                <div class="col-3">
                                                    <img src=<%= "/images/"+ user.positionInfo.company + ".jpg" %> class="rounded img-thumbnail" alt="company logo">
                                                </div>
                                                <div class="col-9" style="text-align: left">
                                                    <h3><%= user.positionInfo.position %></h3>
                                                    <div><i><%= user.requirements.major %> Co-Op with <%= user.positionInfo.company%></i></div>
                                                    <div style="white-space: pre-line"><p><%= user.requirements.pitch %></p></div>                                        
                                                    <h4>
                                                        <% if (user.requirements.top_skill1 === "Java" || user.requirements.top_skill1 === "Python" || user.requirements.top_skill1 === "SQL") { %>
                                                            <span class="badge badge-danger"><%= user.requirements.top_skill1 %></span>
                                                        <% } else { %>
                                                            <span class="badge badge-secondary"><%= user.requirements.top_skill1 %></span>
                                                        <% } %>
    
                                                        <% if (user.requirements.top_skill2 === "Java" || user.requirements.top_skill2 === "Python" || user.requirements.top_skill2 === "SQL") { %>
                                                            <span class="badge badge-danger"><%= user.requirements.top_skill2 %></span>
                                                        <% } else { %>
                                                            <span class="badge badge-secondary"><%= user.requirements.top_skill2 %></span>
                                                        <% } %>
    
                                                        <% if (user.requirements.top_skill3 === "Java" || user.requirements.top_skill3 === "Python" || user.requirements.top_skill3 === "SQL") { %>
                                                            <span class="badge badge-danger"><%= user.requirements.top_skill3 %></span>
                                                        <% } else { %>
                                                            <span class="badge badge-secondary"><%= user.requirements.top_skill3 %></span>
                                                        <% } %>
                                                    </h4>
                                                </div>
                                            </div>
                                        </button>
                                    </div>
                                    <div class="col-3">
                                            <button class="btn btn-primary btn-block btn-light" style="height: 45%">
                                                <i class="material-icons" style="font-size: 56px">star_border</i>
                                            </button>
                                            
                                            <button class="btn btn-primary btn-block btn-light" style="height: 45%">
                                                <i class="material-icons" style="font-size: 56px">check</i>
                                            </button>
                                        </div>
                                </div>
                            
                            </div>
                        </div>
                        <div id=<%= "collapse" + user.jid %> class="collapse" aria-labelledby=<%= user.jid %> data-parent="#accordion">
                            <div class="card-body">
                                <div class="card">
                                    <div class="card-header">Additional Requirements</div>
                                    <div class="card-body">
                                            <% if (user.requirements.gpa) { %>
                                                <% if (user.requirements.gpa % 1 == 0) { %>
                                                    <p><b>Min. GPA: </b><%= user.requirements.gpa %>.0</p>
                                                <% } else { %>
                                                    <p><b>Min. GPA: </b><%= user.requirements.gpa %></p>
                                                <% } %>
                                            <% } %>
                                            <p><b>Other Skills: </b> <%= user.requirements.other_skills %></p>
                                    </div>
                                </div>
                            <div class="card">
                                <div class="card-header">Location</div>
                                <div class="card-body">
                                    <p><%= user.requirements.location %></p>
                                </div>

                            </div>
                    </h5>
                            </div>
                    </div>
                </div>
            <% }); %>
        </div>
      
    </div>
<% } else { %>
    <p>No results found!</p>
<% } %>


</main>

<footer>
    <% include ./partials/footer %>
</footer>

</body>
</html>
