<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head %>
</head>

<body>
    <header>
        <% include ./partials/header %>
    </header>
<main class="container">
        <div class="container" style="padding-bottom: 20px">
                <div class="card">
                    <div class="card-header bg-dark text-center">
                        <% if (ByCompany) { %>
                            <a class="btn btn-primary btn-outline-light" href="/jobFeed" role = "button" style="margin-right: 5%">
                                All Positions
                            </a>
                        
                            <a class="btn btn-primary btn-danger" href="/jobFeedByCompany" role = "button" style="margin-left: 5%">
                                By Company
                            </a>

                            <a class="btn btn-primary btn-outline-light" href="/jobFeedByMajor" role = "button" style = "margin-left: 5%">
                                By Major
                            </a>
                        <% } else if(ByMajor) { %>
                            <a class="btn btn-primary btn-outline-light" href="/jobFeed" role = "button" style="margin-right: 5%">
                                All Positions
                            </a>
                        
                            <a class="btn btn-primary btn-outline-light" href="/jobFeedByCompany" role = "button" style="margin-left: 5%">
                                By Company
                            </a>

                            <a class="btn btn-primary btn-danger" href="/jobFeedByMajor" role = "button" style = "margin-left: 5%">
                                By Major
                            </a>
                        <% } else { %>
                            <a class="btn btn-primary btn-danger" href="/jobFeed" role = "button" style="margin-right: 5%">
                                All Positions
                            </a>
                        
                            <a class="btn btn-primary btn-outline-light" href="/jobFeedByCompany" role = "button" style="margin-left: 5%">
                                By Company
                            </a>

                            <a class="btn btn-primary btn-outline-light" href="/jobFeedByMajor" role = "button" style = "margin-left: 5%">
                                By Major
                            </a>
                        <% } %>
                    </div>
                </div>
               

<% if(userStuff.length > 0) { %>
    <div>
        <div id="accordion">
            <% userStuff.forEach(function(user) { %>
                <div class="card">
                    <div class = "card-header" id=<%= user.jid %>>
                        <h5 class="mb-0">
                            <div class="container">
                                <div class="row">
                                    <div class="col-9">
                                        <button class="btn btn-primary btn-block btn-light" data-toggle="collapse" data-target=<%= "#collapse" + user.jid %> aria-expanded="true" aria-controls=<%= "collapse" + user.jid %>>
                                            <div class="row">
                                            
                                                <div class="col-9" style="text-align: left">
                                                    <h3><%= user.positionInfo.position %> <%= user.positionInfo.company %></h3>
                                                    
                                                
                                        
                                                </div>
                                            </div>
                                        </button>
                                    </div>
                                    <div class="col-3">
                                            <button class="btn btn-primary btn-block btn-light" style="height: 45%">
                                                <i class="material-icons" style="font-size: 56px">star_border</i>
                                            </button>
                                           
                                        </div>
                                </div>
                            
                            </div>
                        </div>
                        <div id=<%= "collapse" + user.jid %> class="collapse" aria-labelledby=<%= user.jid %> data-parent="#accordion">
                            <div class="card-body">
                                <div class="card">
                                    <div class="card-header">Position Info</div>
                                    <div class="card-body">
                                            <p> Job Position Information Blurb here </p>
                                    </div>
                                </div>
                    </h5>
                            </div>
                    </div>
                </div>
            <% }); %>
        </div>
      
    </div>
<% } else { %>
    <p>No results found!</p>
<% } %>


</main>

<footer>
    <% include ./partials/footer %>
</footer>

</body>
</html>
