<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head %>
</head>
<body class="container">

<header>
    <% include ./partials/header %>
</header>

<main>
 <div>
    <p>Grouped users test</p>
    <% userStuff.forEach(function(user) { %>
        <ul>
            <p><b>Name: </b> <%= user.contactInfo.first_name %> <%= user.contactInfo.last_name %></p>
            <p><b>Email: </b> <%= user.contactInfo.email %></p>
            <p><b>Skill 1</b> <%= user.skills.top_skill1 %></p>
            <p><b>Skill 2</b> <%= user.skills.top_skill2 %></p>
            <p><b>Skill 3</b> <%= user.skills.top_skill3 %></p>
            <p><b>Other</b> <%= user.skills.other_skills %></p>
            <p><b>University</b> <%= user.schoolInfo.school_name %></p>
            <p><b>Major</b> <%= user.schoolInfo.major%></p>
            <p><b>Pitch</b> <%= user.pitch.pitch %></p>
        </ul>
    <% }); %>
 </div>

</main>




<footer>
    <% include ./partials/footer %>
</footer>

</body>
</html>