<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head %>
</head>
<body class="container">

<header>
    <% include ./partials/header %>
</header>

<main>
   <ul>
    <% console.log(data); %>
    <div> <'first_name '>
        <'last_name'>
        <'email'>
        <'phone_number'>
        <'street_address_line1'>
        <'street_address_line2'>
        <'city'>
        <'state'>
        <'zipcode'></div>
    <% data.forEach(function(item){ %>
        <div>
        <%= item.first_name %>
        <%= item.last_name%>&#44;
        <%= item.email %>&#44;
        <%= item.phone_number %>&#44;
        <%= item.street_address_line1 %>&#44;
        <%= item.street_address_line2 %>&#44;
        <%= item.city %>&#44;
        <%= item.state %>&#44;
        <%= item.zipcode %>
        </div>
    <% }); %>
   </ul>
 
</main>




<footer>
    <% include ./partials/footer %>
</footer>

</body>
</html>